html,
#app {
    height: 100%;
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Comic Sans MS";
    padding: 10px;
    margin: 0;
    height: 100%;
}

a {
    color: black;
    cursor: pointer;
}

a:hover {
    color: rgb(191, 87, 0);
}

.main-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

    .main-container .nav-container {
        height: 85px;
        background-image: url("/src/content/images/logo.svg");
        background-size: auto 60px;
        background-repeat: no-repeat;
        padding-top: 60px;
        border-bottom: solid 1px #d4d4d4;
        text-align: right;
    }

        .main-container .nav-container a {
            text-decoration: none;
            cursor: pointer;
            margin-right: 18px;
            color: #aaaaaa;
        }

        .main-container .nav-container a.active,
        .main-container .nav-container a:hover {
            color: rgb(191, 87, 0);
        }

    .main-container .content-container {
        padding-top: 10px;
        height: calc(100% - 85px);
    }

    .main-container .left-container {
        width: 250px;
    }

    .main-container .right-container {
        width: calc(100% - 280px);
        margin-left: 30px;
        height: 100%;
        overflow-y: auto;
    }


.inline-top {
    display: inline-block;
    vertical-align: top;
}

.inline-middle {
    display: inline-block;
    vertical-align: middle;
}

.inline-bottom {
    display: inline-block;
    vertical-align: bottom;
}

.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.orange-text {
    color: rgb(191, 87, 0);
}

@media screen and (max-width: 1024px) {
    .main-container .nav-container {
        background-size: 350px 60px;
    }

    .main-container .left-container,
    .main-container .right-container {
        display: block;
        width: 100%;
        margin: 0;
    }

    .main-container .right-container {
        height: calc(100% - 145px);
        overflow-y: auto;
    }
}
