.my-avatar {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-image: url("/src/content/images/avatar.jpg");
    background-size: 100% 100%;
}

.my-info {
    width: 100%;
}

.my-name {
    text-align: center;
    font-size: 35px;
    padding: 10px 0;
}

.my-contact {
    font-size: 18px;
}

.my-contact > div > div:first-child {
    width: 90px;
    padding-right: 5px;
}

.my-contact > div > div:nth-child(2) {
    width: calc(100% - 90px);
}

@media screen and (max-width: 1024px) {
    .my-avatar {
        width: 100px;
        height: 100px;
        margin-top: 20px;
        margin-right: 50px;
    }

    .my-info {
        width: calc(100% - 150px);
        margin-bottom: 20px;
    }

    .my-name {
        font-size: 20px;
        text-align: left;
    }

    .my-contact {
        font-size: 14px;
    }
}
